<div class="page">
  <h2>Who is Mylene Farmer?</h2>
  <p class="paragraph">Some facts about her:
    <ul class="list">
      <li>She is a Canadian-born French singer and songwriter.</li>
      <li>She is an occasional actress and writer.</li>
      <li>She has sold more than 30 million records in France.</li>
      <li>she is among the most successful recording artists of all time in
        France.</li>
    </ul>
  </p>

  <div class="img"></div>
</div>