<div class="page">
  <h1>MYLENE FARMER</h1>

  <div class="img"></div>

  <div class="menu"><a href="/" class="link">Home page</a>
    <a href="/about" class="link">About page</a>
    <a href="/works" class="link">Works page</a></div>
</div>