<div class="page">
  <h2>Best of Mylene Farmer</h2>
  <div class="img">
    <div id="desenchantee"></div>
    <div id="libertine"></div>
    <div id="rever"></div>
    <div id="garcon"></div>
  </div>
  <div class="title">
    <p id="desenchantee2">Désenchantée</p>
    <p id="libertine2">Libertine</p>
    <p id="rever2">Rêver</p>
    <p id="garcon2">Sans contrefaçon</p>
  </div>
</div>